* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;

  background-color: $white;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}