// Fonts
$primary-font: 'Baloo Da 2', cursive;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Colors
$white: #f0ece2;
$black: #010101;
$d: #acdbdf;
$a: #69779b;
$bg-gradient: linear-gradient(92.09deg, #255d8b 2.29%, #3a80ba 96.79%);

// Breakpoints

$break-point-desktop-large: 1441px;
$break-point-desktop-small: 1200px;
$break-point-table-lg: 956px;
$break-point-tablet: 768px;
$break-point-phone: 575px;
